.jetscrollpanel {
	display: block;
	position: relative;
	height: 100%;
	overflow: hidden;
}
/* webkit hack */
.jetscrollpanel ::-webkit-scrollbar {
	display: none;
}
.jetscrollpanel .jetscrollcontent {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 150px;
	margin-right: -15px;
	padding-right: 13px;
	-webkit-overflow-scrolling:touch;
}
/* webkit hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.jetscrollpanel .jetscrollcontent {
		margin-right: 0;
		padding-right: 15px;
	}
}
.jetscrollpanel .jetscrollbar {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 15px;
}
.jetscrollpanel .jetscrollslider {
	position: absolute;
	top: 0;
	width: 100%;
	height: 15%;
	cursor: pointer;
}
.jetscrollpanel .jetscrollbar .jetscrollarrow {
	position: absolute;
	left: 0;
	width: 15px;
	height: 15px;
	display: block;
	font-size: 15px;
	line-height: 15px;
}
.jetscrollpanel .jetscrollbar .up {
	top: -15px;
}
.jetscrollpanel .jetscrollbar .down {
	bottom: -15px;
}